<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestor_peliculas</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <mapping class="org.example.hibernate.copia.Copia"/>
        <mapping class="org.example.hibernate.pelicula.Pelicula"/>
        <mapping class="org.example.hibernate.usuario.Usuario"/>
    </session-factory>
</hibernate-configuration>